.basicContainer.selectCard {
  position: relative;
  width: 100%;
  cursor: pointer;
  padding-left: 60px;
  .selectRound {
    position: absolute;
    left: 24px;
    width: 13px;
    height: 13px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid #80808091;
    box-shadow: 0 0 5px 0 #80808036;

        display: flex;
        align-items: center;
        justify-content: center;
         .round { 
          width: 80%;
          height: 80%;  
          border-radius: 50%;
          background-color: var(--violet);
        }
  }
  .title {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: start;
    width: 100%;
  }
   
}
