.gameCreationEnvironnementNavigationSideBar {
  width: fit-content;

  background: #f8fafc;
  display: flex;
  flex-direction: column;
  align-items: start;
position: relative;
  height: 100%;
  min-height: 100vh;
  padding: 46px 16px 16px 16px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      width: 100%;
    }
  }
  h4 {
    padding-left: 18px;
    color: var(--ligh-grey-text);
  }
  .sidebar-separator {
    background: #e1e8f1;
    width: 100%;
    height: 1px;
    margin-block: 19px;
  }
  >.button{

        width: 13%;
        justify-content: center;
            position: fixed;
        bottom: 24px;
        left: 24px;
  }
}
