.gameCreationEnvironnementNavigationSideBar {
  width: fit-content;
 
  height: 100vh;
  background: #f8fafc;
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 46px 16px 16px 16px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      width: 100%;
    }
  }
  h4 {
    padding-left: 18px;
    color: var(--ligh-grey-text);
  }
  .sidebar-separator {
    background: #e1e8f1;
    width: 100%;
    height: 1px;
    margin-block: 19px;
  }
}
