.button {
    display: flex;
    flex-direction: row;
    background: white;
    border: none;
    outline: none;
    gap: 5px;
    align-items: center;
    color: var(--dark-bleu);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    cursor: pointer;
    text-decoration: none;

    .iconHover{
        display: none
    }

    :hover{
        .icon{
            display: none;
        }
        .iconHover{
            display: flex
        }
    }

}

.button.withoutBorder:hover{
    color:black;
}
