.cardSubpage{

}
.cardSubpage:hover{
  scale: 1.03;
  cursor: pointer;
}

.cardSubpage1{
  animation: appearFromOpacity1 4s ease;
}

.cardSubpage2{
  animation: appearFromOpacity2 4s  ease;
}

.cardSubpage3{
  animation: appearFromOpacity3 4s  ease;
}

.cardSubpage4{
  animation: appearFromOpacity4 4s   ease;
}

.cardSubpage5{
  animation: appearFromOpacity5 4s ease;
}


@keyframes appearFromOpacity1{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
}

@keyframes appearFromOpacity2{
   0%{
    opacity: 0;
  }
  10%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
}

@keyframes appearFromOpacity3{
   0%{
    opacity: 0;
  }
  20%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
}

@keyframes appearFromOpacity4{
   0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  80%{
    opacity: 1;
  }
}

@keyframes appearFromOpacity5{
   0%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}