.expressionDocumentationSubpage {
  overflow-x: hidden;
  .wrapper.wrapperCategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    .expressionType {
      padding: 0;
      width: fit-content;
      clip-path: border-box;
      overflow: hidden;
      padding: 4px 9px;
      border-radius: 6px;
      gap: 0;
      display: flex;
      flex-direction: row;
      border: 1px solid #e2e8f0;
      align-items: center;
      gap: 5px;
      .value {
        background: #e9e9e9;
        padding: 5px 10px;
        color: black;
        border-radius: 4px;
        margin-left: 17px;
      }
    }
    .selected {
      color: white;
      border: 0;
      background-color: var(--blue-grey);
    }
    .expressionType:hover {
      cursor: pointer;
      transform: scale(1.01);
    }
  }
  .wrapper.wrapperDocElt {
    display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr)); 
  gap: 16px; 
  padding: 20px;
  align-items: start;
    .expressionCard { 
      width: 100%;
      height: 100%;
      > .syntax {
        background: #f5f6f6;
        padding: 12px;
        border-radius: 7px;
      }
    }
  }
}
