.cardManagementSubpage {
  .searchBarForm {
    height: fit-content;
    background: #f8fafc;
    > * {
      background: #f8fafc;
    }
    padding: 13px 20px;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
  }
  .cardLibrairy-MultipleActions {
    user-select: none;
    .rowButtons {
      display: flex;
      flex-direction: row;
      gap: 10px;
      > * {
        width: fit-content;
      }
    }
  }
 
  .rowOfAttributsHeader {
    align-items: end;
    .titleContainer {
      width: 70% !important;
    }
    .button {
      height: fit-content;
    }
  }  
  .renderingOfCardContainer {
    .innerContainer {
      flex-direction: row;
      gap: var(--padding-content-page);
      .left {
        width: fit-content;
        .customCardContainer {
          width: 100px;
        }
      }
      .right {
        width: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        gap: 7px;
      }
    }
  } 
}
