.gameCreationEnvironnementPage {
  position: relative;
  .content {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    [class*="Subpage"] {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 32px;
      gap: 24px;
      box-sizing: border-box;
    }
    .basicContainer {
      border: 0.8px solid #e1e8f1;
      padding: 24px;
      box-sizing: border-box;
      background: white;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
    }
    .lightContainer {
      border-radius: 6px;
      border: 0.8px solid #e1e8f1;
      background: white;
    }
  }
}
