.gameCreationEnvironnementPage {
  position: relative;
  > .content {
    padding-top: 64px;
    display: flex;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: row;
    align-items: stretch;
    > [class*="Subpage"] {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: var(--padding-content-page);
      gap: 24px;
      overflow-y: scroll;
      height: 93.7vh;
      max-height: 93.7vh;
      box-sizing: border-box;
    }
    .wrapperSelection {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      height: fit-content;
      max-height: 40vh;
      overflow-y: scroll;
      gap: 13px;
      > * {
        width: 17%;
        aspect-ratio: 1/0.3;
      }
    }
  }
}
