.dahsboardSubpage {
  position: relative;
  .content {
    padding-top: 64px;
  }
  .statSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
  .quickActionSection {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 14px;
      > div {
        width: calc(50% - 12px);
      }
    }
  }
  .activityAndCommentSection {
    gap: 24px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    > div {
      width: 50%;
    }

    .activitySection,
    .commentSection {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .activityElement,
        .commentElement {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          > div {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 6px;
          }
        }
        .commentElement span:first-child{
          width: 80%;
        }
      }
    }
  }
}
