.editGameSubpage {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    .buttonContainer {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      gap: 10px;
    }
  }
  .globalIfonSection {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    .content {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 24px;
      width: 67%;
      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        width: 100%;
        > div {
          width: 50%;
        }
      }
    }
    .imageContainer {
      width: 28%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      > img {
        width: 100%;
        object-fit: contain;
      }
      .imageUploadContainer {
        width: 100%;
        position: relative;
        .button {
          width: 100%;
          justify-content: center;
        }
        input {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }
}
