.gameCreationEnvironnementHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 16px 24px;
  box-sizing: border-box;
  border-bottom: 0.8px solid #e1e8f1;
  border-bottom: 0.8px solid color(display-p3 0.8863 0.9098 0.9412);
  background: #fff;
  background: color(display-p3 1 1 1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  > div:first-child {
    span {
      color: var(--grey);
      font-size: 18px;
    }
    .firstPart{
      color: black;
      font-weight: bold;
      font-size: 21px;
    }
  }
}
