.searchBarForm {
  border-radius: 8px;
  background: #fff;
  background: color(display-p3 1 1 1);
box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 18px;
  padding: 5px 20px;

  width: 100%;
  height: 100%;

  img {
    height: 23px;
  }
  input{
    border: 0;
    width: 80%;
    margin-bottom: -8px;
  }
  input:focus-visible{
    border: 0;
    outline: 0;
  }
  input::placeholder {
    color: var(--grey); 
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }
}
