.deckCreationEnvironnementPage {
  position: relative;
  > .content {
    padding-top: calc(64px + 5%);
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    display: flex;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    flex-direction: column;
    gap: 24px;
    align-items: stretch;
    .headerRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      > .buttonContainer {
        width: fit-content;
      }
    }
  
  } .renderingOfAttributsContainer .row {
    align-items: center;
  }
  .renderingOfCardContainer {
    .innerContainer {
      display: flex;
      flex-direction: row;
      gap: var(--padding-content-page);
      .left {
        width: fit-content;
        .customCardContainer {
          width: 100px;
        }
      }
      .right {
        width: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        gap: 7px;
      }
    }
  } 
  .cardLibrairy-MultipleActions {
    .rowButtons {
      display: flex;
      flex-direction: row;
      gap: 8px;
      width: fit-content;
    }
  }
}
