.gameCreationEnvironnementStatDashboard {
  border-radius: 12px; display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  height: fit-content;
  align-items: start; 
  width: 33% !important;
  > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
        gap: 29px;
    > span:first-child {
      color: var(--grey);

      font-size: 19px;
      font-style: normal;
      font-weight: 500;
    }
    > span:last-child {
      color: var(--DarkBleu);
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
    }
  
  }
  img{

    aspect-ratio: 1 / 1;
    height: 39px;
    width: 50px;
  }
}
