.eventSubPageOfEventsAndDeclencheurSubpage {
  .left {
    overflow-y: scroll;

    height: 93.7vh;
    max-height: 93.7vh;
    .headerEvent {
      .row {
        display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 12px;
      }
    }
  }
  .right {
    overflow-y: scroll;
    height: 93.7vh;
    max-height: 93.7vh;
    > .basicContainer:not(.headerRight) {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .demonsAssociatedContainer {
      .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
        .demonCard {
          width: 17%;
        }
      }
    }
  }
}
