.selectGamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #f8fafc 0%, #fbf5ff 50%, #f0f5f9 100%),
    #fff;
  height: 100vh;
  padding: 3% 10%;

  gap: 50px;

  .headerSection {
    width: 51%;
  }
  .formSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    height: 45px;
  }
  .statSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
    width: 100%;
    > div {
      width: 25%;
    }
  }
  .gamesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
