.sub-navigation-bar{
    width: 100%;
    border-radius: 12px;
    background: #F0F5F9;
    display: flex;
    flex-direction: row;
    padding: 3px 3.5px;
    box-sizing: border-box;
    justify-content: space-around;

    span{
        border-radius: 12px;
        border: 0.8px solid rgba(0, 0, 0, 0.00);
        display: flex;
        height: 29px;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex-shrink: 0;
        cursor: pointer;
    }
    span.active{
        background: #FFF;
    }
}
