 
  .cardListReadOnly {
      user-select: none;
    
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      align-items: start;
      height: fit-content;
      user-select: none;
      user-select: none !important;
      -webkit-user-select: none;
      .customCardContainer {
        width: 40px;
      }
 

}