.notFoundPage {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  img {
    height: 51%;
  }
  p{

    color: var(--violet);
    font-size: 39px;
    font-weight: bold;
  }
}
